@model TamilMurasu.Models.NewImage 
@{
    ViewData["Title"] = "NewImage";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }

</script>
<style>
    .preview {
        display: inline-block;
        margin: 10px;
    }

        .preview img {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }
        
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Images</a> </li>
            <li class="active"> <strong> New Image </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">New Image</h5>
                    <hr>
                    @using (Html.BeginForm("NewImage", "NewImage", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Image Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Category, Model.Categorylst, "--Please Select--", new { @id = "ddlCategory", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-4 control-label">Foot Note<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.FootNote, new { @id = "txtFootNote", @class = "form-control", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br /> <div class="form-group">
                                        <label for="formFile" class="col-sm-2 control-label">Picture Thumbnail<label class="mandatory">*</label></label>
                                        <div class="col-md-10">
                                            <input type="file" name="file" id="file-input" multiple>
                                            <br /><div id="preview-container"></div>
                                           
                                            <img src='@Html.DisplayFor(C => C.filename1)' />

                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <br /> <label for="formFile" class="col-sm-2 control-label">Picture Large<label class="mandatory">*</label></label>
                                        <div class="col-md-10">
                                            <input type="file" name="file1" id="file-input1" multiple>
                                            <br /><div id="preview-container1"></div>
                                            <script src="script.js"></script>
                                            <img src='@Html.DisplayFor(C => C.filename2)' />

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="datePicker" class="col-sm-4 control-label">Publish Up<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.PublishUp, new { @id = "PublishUp", @class = "form-control", @TabIndex = 2, @size = "32"})
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Publish Down<label class="mandatory">*</label></label>
                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.PublishDown, new { @id = "PublishDown", @class = "form-control", @TabIndex = 2, @size = "32" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-5"></div>
                            <div class="text-center">
                                <button type="submit" name="submit" class="btn btn-primary" id="btnSave" value="Save" tabindex="18">Save</button>
                                <button class="btn btn-warning" type="reset">Reset</button>
                                <a button class="btn btn-danger" type="submit" href="@Url.Action("ListNewImage", "NewImage")">Cancel</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
</script>
<script>

    $(document).ready(function () {
        $("#file-input").on("change", function () {
            var files = $(this)[0].files;
            $("#preview-container").empty();
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<div class='preview'><img src='" + e.target.result + "'><button class='delete'>Delete</button></div>").appendTo("#preview-container");
                    };
                    reader.readAsDataURL(files[i]);
                }
            }
        });
        $("#preview-container").on("click", ".delete", function () {
            $(this).parent(".preview").remove();
            $("#file-input").val(""); // Clear input value if needed
        });
    });

</script>
<script>

    $(document).ready(function () {
        $("#file-input1").on("change", function () {
            var files = $(this)[0].files;
            $("#preview-container1").empty();
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<div class='preview'><img src='" + e.target.result + "'><button class='delete'>Delete</button></div>").appendTo("#preview-container1");
                    };
                    reader.readAsDataURL(files[i]);
                }
            }
        });
        $("#preview-container1").on("click", ".delete", function () {
            $(this).parent(".preview").remove();
            $("#file-input1").val(""); // Clear input value if needed
        });
    });

</script>
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);

    });
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtFootNote").value == "") {
                isValid = false;
                $(txtFootNote).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter FootNote");
                return false;
            }
            else {
                $(txtFootNote).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("PublishUp").value == "") {
                isValid = false;
                $(PublishUp).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Publish Up");
                return false;
            }
            else {
                $(PublishUp).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("PublishDown").value == "") {
                isValid = false;
                $(PublishDown).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Publish Down");
                return false;
            }
            else {
                $(PublishDown).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>