@model TamilMurasu.Models.News 
@{
    ViewData["Title"] = "News";

}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    .checkbox-xl .form-check-input {
        top: 1.2rem;
        scale: 1.7;
        margin-right: 0.8rem;
    }

    .checkbox-xl .form-check-label {
        padding-top: 19px;
    }
</style>
<style>
    .preview {
        display: inline-block;
        margin: 10px;
    }

        .preview img {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }

</script>

<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>News</a> </li>
            <li class="active"> <strong> Add News </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">News</h5>
                    <hr>
                    @using (Html.BeginForm("News", "News", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Category, Model.Categorylst, "--Please Select--", new { @id = "ddlCategory", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <br><label for="inputName3" class="col-sm-4 control-label">News Head<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.NewsHead, new { @id = "txtNewsHead", @class = "form-control", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                          
                                <div class="col-lg-4">
                                    <div class="form-group checkbox-xl">
                                        <br /><label for="form-check-label" class="col-sm-6 control-label">Editor Pick<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
@*                                             <input class="form-check-input" type="checkbox" value="Editor" id="Editor">
                                        *@    @Html.CheckBoxFor(C => C.Editor, new { @id = "txtEditor", @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                        
                          
                                <div class="col-lg-4">
                                    <div class="form-group checkbox-xl">
                                        <br /><label for="form-check-label" class="col-sm-6 control-label">Highlights News<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
@*                                             <input class="form-check-input" type="checkbox" value="Highlights" id="Highlights">
                                        *@     @Html.CheckBoxFor(C => C.Highlights, new { @id = "txtHighlights", @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            
                         
                                <div class="col-lg-4">
                                    <div class="form-group checkbox-xl">
                                        <br /><label for="form-check-label" class="col-sm-6 control-label">Banner News<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                             @Html.CheckBoxFor(C => C.Banner, new { @id = "txtBanner", @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <br /> <label for="checkbox" class="col-sm-2 control-label">News Detail<label class="mandatory">*</label></label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(C => C.NewsDetail, new { @id = "News", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br /> <div class="form-group">
                                        <label for="formFile" class="col-sm-2 control-label">Picture Thumbnail<label class="mandatory">*</label></label>
                                        <div class="col-md-10">
                                            <input type="file" required="required" name="file" id="file-input" accept=".jpg, .jpeg, .png" onchange="validateFileType()" multiple>
                                            <br /><div id="preview-container"></div>
                                            <script src="script.js"></script>
                                            <p id="error" style="color: red;"></p>
                                            <img src='@Html.DisplayFor(C => C.filename1)'/>

                                        </div>
                                  </div>
                                </div>

                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <br /> <label for="formFile" class="col-sm-2 control-label">Picture Large<label class="mandatory">*</label></label>
                                        <div class="col-md-10">
                                            <input type="file" required="required" name="file1" id="file-input1" accept=".jpg, .jpeg, .png" onchange="validateFileType1()" multiple>
                                            <br /><div id="preview-container1"></div>
                                            <script src="script.js"></script>
                                            <p id="errorone" style="color: red;"></p>

                                            <img src='@Html.DisplayFor(C => C.filename2)' />

                                        </div>
                                    </div>
                                </div>
                            </div> 
                           @* <form id="uploadForm" enctype="multipart/form-data">
                                <input type="file" id="fileInput" accept="image/*">
                                <button type="submit" onclick="validateForm(event)">Upload Image</button>
                            </form>
                            <form id="uploadForm" enctype="multipart/form-data">
                                <input type="file" id="fileinput1" accept="image/*">
                                <button type="submit" onclick="validateForm(event)">Upload Image</button>
                            </form>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="datePicker" class="col-sm-4 control-label">Publish Up<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.PublishUp, new { @id = "PublishUp", @class = "form-control", @TabIndex = 2, @size = "32" ,@readonly="readonly"})
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Publish Down<label class="mandatory">*</label></label>
                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.PublishDown, new { @id = "PublishDown", @class = "form-control", @TabIndex = 2, @size = "32" ,@readonly="" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="checkbox" class="col-sm-4 control-label">KeyWords<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.KeyWords, new { @id = "txtKeyWords", @class = "form-control", @TabIndex = 1 })
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-5"></div>
                            <div class="text-center">
                                <button type="submit" name="submit" class="btn btn-primary" id="btnSave" value="Save" tabindex="18">Save</button>
                                <a button class="btn btn-danger" type="submit" href="@Url.Action("ListNews", "News")">Cancel</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validateFileType() {
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        var fileInput = document.getElementById('file-input');
        var filePath = fileInput.value;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('error').innerHTML = 'Invalid file type. Only .jpg, .jpeg, or .png files are allowed.';
            fileInput.value = '';
            return false;
        } else {
            // Clear any previous error message
            document.getElementById('error').innerHTML = '';
        }
    }

</script>
<script>
    function validateFileType1() {
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        var fileInput = document.getElementById('file-input1');
        var filePath = fileInput.value;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('errorone').innerHTML = 'Invalid file type. Only .jpg, .jpeg, or .png files are allowed.';
            fileInput.value = '';
            return false;
        } else {
            // Clear any previous error message
            document.getElementById('errorone').innerHTML = '';
        }
    }

</script>
<script>

    $(document).ready(function () {
        $("#file-input").on("change", function () {
            var files = $(this)[0].files;
            $("#preview-container").empty();
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<div class='preview'><img src='" + e.target.result + "'><button class='delete'>Delete</button></div>").appendTo("#preview-container");
                    };
                    reader.readAsDataURL(files[i]);
                }
            }
        });
        $("#preview-container").on("click", ".delete", function () {
            $(this).parent(".preview").remove();
            $("#file-input").val(""); // Clear input value if needed
        });
    });

</script>
<script>

    $(document).ready(function () {
        $("#file-input1").on("change", function () {
            var files = $(this)[0].files;
            $("#preview-container1").empty();
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<div class='preview'><img src='" + e.target.result + "'><button class='delete'>Delete</button></div>").appendTo("#preview-container1");
                    };
                    reader.readAsDataURL(files[i]);
                }
            }
        });
        $("#preview-container1").on("click", ".delete", function () {
            $(this).parent(".preview").remove();
            $("#file-input1").val(""); // Clear input value if needed
        });
    });

</script>

<script>
    $(function () {
       $('._select').select2();
    });
</script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('News' ,{
           height : 300,
            filebrowserUploadUrl: '/News/UploadImage',
            filebrowserBrowseUrl: '/News/filebrowse'

        });
    });

</script>
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);

    });
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtNewsHead").value == "") {
                isValid = false;
                $(txtNewsHead).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter  News Head");
                return false;
            }
            else {
                $(txtNewsHead).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlCategory").value == "") {
                isValid = false;
                $(ddlCategory).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Category");
                return false;
            }
            else {
                $(ddlCategory).css({
                    "border": "",
                    "background": ""
                });
            }
        //    if (document.getElementById("file-input").value > 0 ) {
        //        isValid = false;
        //        $(file - input).css({
        //            "border": "1px solid red",
        //            "background": "#FFCECE"
        //        });

        //        alert("Please Select Picture Thumbnail");
        //        return false;
        //    }
        //    else {
        //    $(file - input).css({
        //            "border": "",
        //            "background": ""
        //        });
        //    }
        //    alert ("fileinput1");
        //if (document.getElementById("fileinput1").value.length > 0) {
        //        isValid = false;
        //        $(file - input1).css({
        //            "border": "1px solid red",
        //            "background": "#FFCECE"
        //        });

        //        alert("Please Select Picture Large");
        //        return false;
        //    }
        //    else {
        //        $(fileinput1).css({
        //            "border": "",
        //            "background": ""
        //        });
        //    }
            //function validateForm(event) {
            //    event.preventDefault();  Prevent form submission for now

            //    var fileInput = document.getElementById('fileInput');
            //    var file = fileInput.files[0];  Get the selected file

            //    if (fileInput) {
            //         File selected, you can proceed with uploading or further processing
            //        uploadImage(file);
            //    } else {
            //         No file selected, show an error message or alert
            //        alert('Please select an Picture Large.');
            //    }
            //}
            //function validateForm(event) {
            //    event.preventDefault();  Prevent form submission for now

            //    var fileinput1 = document.getElementById('fileinput1');
            //    var file = fileinput1.files[0];  Get the selected file

            //    if (fileinput1) {
            //         File selected, you can proceed with uploading or further processing
            //        uploadImage(file);
            //    } else {
            //         No file selected, show an error message or alert
            //        alert('Please select an Picture Thumbnail.');
            //    }
            //}
            if (document.getElementById("PublishUp").value == "") {
                isValid = false;
                $(PublishUp).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Publish Up");
                return false;
            }
            else {
                $(PublishUp).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("PublishDown").value == "") {
                isValid = false;
                $(PublishDown).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Publish Down");
                return false;
            }
            else {
                $(PublishDown).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtKeyWords").value == "") {
                isValid = false;
                $(txtKeyWords).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select KeyWords");
                return false;
            }
            else {
                $(txtKeyWords).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>